.itemClass {
    text-decoration: none;
    color: #222222;
}

.itemClass:hover {
    text-decoration: none;
    color: #222222;
}

/* Стили для base.html */
body {
    background-color: #e0e0e0;
}

.navbar {
    background-color: #706e6e;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #343a40;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: #28a745;
}

/* Стили для блока контактов и соц. сетей */
.contact {
    margin-top: 20px;
    text-align: center;
}

.contact span {
    margin-right: 15px;
}

.socials a {
    margin-right: 10px;
    color: #28a745;
}