.itemClass {
    text-decoration: none;
    color: #222222;
}

.itemClass:hover {
    text-decoration: none;
    color: #222222;
}

/* Стили для base.html */
body {
    background-color: #e0e0e0;
}

.navbar {
    background-color: #706e6e;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #343a40;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: #28a745;
}

/* Стили для блока контактов и соц. сетей */
.contact {
    margin-top: 20px;
    text-align: center;
}

.contact span {
    margin-right: 15px;
}

.socials a {
    margin-right: 10px;
    color: #28a745;
}

/* styles.css */

/* Стили для заголовка */
h1 {
    color: #333; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для формы поиска */
.search-form {
    margin-bottom: 20px; /* Отступ снизу */
}

.search-form input[type="text"] {
    width: 80%; /* Ширина инпута */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругление углов */
}

.search-form button {
    padding: 10px 20px; /* Внутренний отступ */
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Изменение курсора при наведении */
}

.search-form button:hover {
    background-color: #0056b3; /* Изменение цвета фона при наведении */
}

/* Стили для карточек товаров */
.card {
    margin-bottom: 20px; /* Отступ снизу */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Тень при наведении */
}

.card h4 {
    margin-bottom: 10px; /* Отступ снизу */
}

.card p {
    font-size: 14px; /* Размер шрифта */
    color: #666; /* Цвет текста */
}

