{% extends 'base.html.twig' %}

{% block title %}Вы как-то оказались тут{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Вы как-то оказались тут</h1>
        <hr>

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Всем Здравствуйте!</h1>
                <p class="lead text-muted">Здесь вы можете купить разные товары</p>
                <p>
                    <a href="{{ path('app_shopList') }}" class="btn btn-primary my-2">Перейти к покупкам!</a>
                </p>
            </div>
        </section>
    </div>
{% endblock %}