{% extends 'base.html.twig' %}

{% block title %}evijerevn{% endblock %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }

        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }
    </style>

    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        <div class="col-md-4">
            <a href="#" class="itemClass">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ asset('images/1.jpg') }}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Placeholder: Thumbnail">
                    <!-- Здесь могут быть ваши изображения или другой контент -->
                    </svg>

                    <div class="card-body">
                        <p class="card-text">КОРОЧЕ ЭТО ВСЕ ФИГНЯ, НАДО ДОРАБОТАТЬ</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- Здесь могут быть дополнительные элементы управления -->
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
